/*
$grad-color1: #e64085a6;
$grad-color2: #0cee71;
*/
.theme-1 {
  color: rgba(48, 47, 47, 0.862745098) !important;
  background-color: #ddd6f3 !important;
}

.theme-2 {
  color: rgba(48, 47, 47, 0.862745098) !important;
  background-color: #faaca8 !important;
}

.theme-3 {
  color: rgba(48, 47, 47, 0.862745098) !important;
  background-color: rgba(234, 241, 238, 0) !important;
}

* {
  font-family: "Zen Kurenaido", sans-serif;
}

.d-left {
  text-align: left !important;
}

.d-right {
  text-align: right !important;
}

.d-center {
  text-align: center !important;
}

.d-block-center {
  margin: 0 auto;
}

.d-block-left {
  float: left !important;
}

.d-block-right {
  float: right !important;
}

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  background: rgba(170, 123, 135, 0);
  background-size: cover;
  height: 100%;
}

/* thanks https://codepen.io/goodkatz/pen/LYPGxQz */
.header2 {
  width: 100vw;
  height: 75px;
  background: linear-gradient(60deg, #ddd6f3 0%, #f00c00 100%);
}

.header {
  position: relative;
  width: 100vw;
  height: 75px;
  z-index: 0;
  display: grid;
  grid-template-columns: 40vw 30vw 30vw;
  background: linear-gradient(60deg, #ddd6f3 0%, #faaca8 100%);
}

.navbar-s {
  --_ani-speed: 6s;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  display: flex;
  top: 0px;
  z-index: 0;
}

.navbar-left {
  margin-left: 10vw;
}

.navbar-right {
  margin-right: 10vw;
}

.navele-s {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  text-align: center;
  padding: 0 1vw 0 1vw;
}

.title-bg {
  background-image: url(../img/logo4.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 80%;
  height: 70%;
  background-position: center;
  top: 0.3vh;
  background-size: 20rem;
  margin: 0;
}

nav > h1 {
  position: relative;
  margin-bottom: 2.2rem;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
}

nav > h1:before {
  position: absolute;
  inset: 5px 5px -5px -5px;
  width: 80%;
  content: "";
}

.small-header {
  display: none;
  text-align: right;
  margin-right: 15px;
}

.small-header-a {
  text-decoration: none;
  font-size: 2rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

.modal-con {
  --_ani-speed: 6s;
  height: 80%;
  width: 100%;
  display: grid;
  grid-template-areas: "none0 none0 close" "none1 menu1 none2" "none1 menu2 none2" "none1 menu3 none2" "none1 menu4 none2" "none1 menu5 none2";
  grid-template-columns: 1fr 400px 200px;
  grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr;
}

.small-header-close {
  grid-area: close;
  text-align: right;
  margin-right: 15px;
}

.navele-s-modal {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  text-align: center;
  padding: 0 1vw 0 1vw;
}

.navele-s-menu1 {
  grid-area: menu1;
}

.navele-s-menu2 {
  grid-area: menu2;
}

.navele-s-menu3 {
  grid-area: menu3;
}

.navele-s-menu4 {
  grid-area: menu4;
}

.navele-s-menu5 {
  grid-area: menu5;
}

@media (max-width: 1250px) {
  .navbar-s {
    display: none;
  }
  .title-bg {
    background-size: 16rem;
    font-size: 2rem;
  }
  .small-header {
    display: inline-block;
  }
}
.h-btn > svg {
  transform-origin: center;
  width: 150px;
  height: 150px;
  position: absolute;
  opacity: 0;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
  color: var(--_clr-txt-svg);
  grid-area: pos;
  z-index: -1;
  font-size: 1.4rem;
  font-weight: bold;
}

.h-btn:focus-visible > svg,
.h-btn:hover > svg {
  transform: scale(1);
  opacity: 1;
  transition-delay: 150ms;
  transition: all 300ms ease-in-out;
}

.h-btn svg g {
  transform-origin: center;
  animation: rotate var(--_ani-speed) linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.h-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  text-transform: none;
  line-height: normal;
  overflow: visible;
  z-index: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: inline-grid;
  grid-template-areas: "pos";
  align-items: center;
  place-content: center;
}

.h-btn > span {
  grid-area: pos;
  font-size: 1.4rem;
  font-weight: bold;
}

.h-btn > span:last-of-type {
  transform: scale(0);
  transition-delay: 0ms;
  border-radius: 50%;
}

.h-btn:focus-visible > span:first-of-type,
.h-btn:hover > span:first-of-type {
  transform: scale(0);
}

.h-btn:focus-visible > span:last-of-type,
.h-btn:hover > span:last-of-type {
  transform: scale(1);
}

#back-span {
  display: flex;
  margin-left: 20px;
}

.footer2 {
  width: 100%;
  height: 46.5rem;
  display: block;
  align-items: flex-end;
  overflow: hidden;
  position: absolute;
  bottom: -42rem;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  position: absolute;
}

.inner-footer {
  position: absolute;
  top: 3vh;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;
  background: linear-gradient(60deg, #faaca8 0%, #ddd6f3 100%);
}

.waves2 {
  position: absolute;
  width: 100%;
  height: 3vh;
  z-index: -1;
  top: 0;
  /*margin-bottom: -7px; //Fix for safari gap
  min-height: 100px;
  max-height: 150px;
  */
}

.waves {
  position: relative;
  width: 100%;
  height: 3vh;
  z-index: -1;
  /*margin-bottom: -7px; //Fix for safari gap
  min-height: 100px;
  max-height: 150px;
  */
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
#wave1 {
  fill: rgba(221, 214, 243, 0.4039215686);
}

#wave2 {
  fill: rgba(221, 214, 243, 0.1568627451);
}

#wave3 {
  fill: rgba(250, 172, 168, 0.5960784314);
}

#wave4 {
  fill: rgba(250, 172, 168, 0.1921568627);
}

.flex { /*Flexbox for containers*/
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  position: relative;
}

.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #fff;
}

.footer-logo-link {
  display: inline-block;
}

#cr {
  color: rgba(48, 47, 47, 0.862745098);
  font-size: 1.5rem;
  text-align: center;
  position: absolute;
  width: 25rem;
  right: 0vw;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: #fff;
  text-decoration: none;
}

/*
@import "inner";

@import "navbar";
*/
/*
@import "swiper";
@import "msg";
@import "img";
@import "bot";

@import "media";
*/