@charset "UTF-8";
/*
$grad-color1: #e64085a6;
$grad-color2: #0cee71;
*/
@import url("https://fonts.googleapis.com/css2?family=Gluten:slnt,wght@-13..13,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap");
.theme-1 {
  color: rgba(0, 0, 0, 0.937254902) !important;
  background-color: #ddd6f3 !important;
}

.theme-2 {
  color: rgba(0, 0, 0, 0.937254902) !important;
  background-color: #faaca8 !important;
}

.theme-3 {
  color: rgba(0, 0, 0, 0.937254902) !important;
  background-color: rgba(234, 241, 238, 0) !important;
}

* {
  font-family: "Zen Kurenaido", sans-serif;
}

.d-left {
  text-align: left !important;
}

.d-right {
  text-align: right !important;
}

.d-center {
  text-align: center !important;
}

.d-block-center {
  margin: 0 auto;
}

.d-block-left {
  float: left !important;
}

.d-block-right {
  float: right !important;
}

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  background: rgba(170, 123, 135, 0);
  background-size: cover;
  height: 100%;
}

/* thanks https://codepen.io/goodkatz/pen/LYPGxQz */
.header2 {
  width: 100vw;
  height: 75px;
  background: linear-gradient(60deg, #ddd6f3 0%, #f00c00 100%);
}

.header {
  position: relative;
  width: 100vw;
  height: 5vh;
  z-index: 0;
  display: grid;
  grid-template-columns: 40vw 30vw 30vw;
  background: linear-gradient(60deg, #ddd6f3 0%, #faaca8 100%);
}

.navbar-s {
  --_ani-speed: 6s;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  display: flex;
  top: 0px;
  z-index: 0;
}

.navbar-left {
  margin-left: 10vw;
}

.navbar-right {
  margin-right: 10vw;
}

.navele-s {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  text-align: center;
  padding: 0 1vw 0 1vw;
}

.title-bg {
  background-image: url(../img/logo4.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 80%;
  height: 70%;
  background-position: center;
  top: 0.3vh;
  background-size: 20rem;
  margin: 0;
}

nav > h1 {
  position: relative;
  margin-bottom: 2.2rem;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
}

nav > h1:before {
  position: absolute;
  inset: 5px 5px -5px -5px;
  width: 80%;
  content: "";
}

.small-header {
  display: none;
  text-align: right;
  margin-right: 15px;
}

.small-header-a {
  text-decoration: none;
  font-size: 2rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.9);
  transition: opacity 0.3s ease;
}

.modal-con {
  --_ani-speed: 6s;
  height: 80%;
  width: 100%;
  display: grid;
  grid-template-areas: "none0 none0 close" "none1 menu1 none2" "none1 menu2 none2" "none1 menu3 none2" "none1 menu4 none2" "none1 menu5 none2" "none1 menu6 none2";
  grid-template-columns: 30vw 1fr 20vw;
  grid-template-rows: 15vh 1fr 1fr 1fr 1fr 1fr 1fr;
}

.small-header-close {
  grid-area: close;
  text-align: right;
  margin-right: 15px;
}

.navele-s-modal {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  text-align: center;
  padding: 0 1vw 0 1vw;
}

.navele-s-menu1 {
  grid-area: menu1;
}

.navele-s-menu2 {
  grid-area: menu2;
}

.navele-s-menu3 {
  grid-area: menu3;
}

.navele-s-menu4 {
  grid-area: menu4;
}

.navele-s-menu5 {
  grid-area: menu5;
}

.navele-s-menu6 {
  grid-area: menu6;
}

@media (max-width: 1250px) {
  .navbar-s {
    display: none;
  }
  .title-bg {
    background-size: 16rem;
    font-size: 2rem;
  }
  .small-header {
    display: inline-block;
  }
}
@media (max-width: 780px) or (max-height: 1000px) {
  .title-bg {
    font-size: 1rem;
    background-size: 8rem;
    background-position: top;
  }
  .small-header-a {
    font-size: 1.2rem;
  }
  /*
  .header {
    height: 
  }
    */
}
.h-btn > svg {
  transform-origin: center;
  width: 150px;
  height: 150px;
  position: absolute;
  opacity: 0;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
  grid-area: pos;
  z-index: -1;
  font-size: 1.4rem;
  font-weight: bold;
}

.h-btn:focus-visible > svg,
.h-btn:hover > svg {
  transform: scale(1);
  opacity: 1;
  transition-delay: 150ms;
  transition: all 300ms ease-in-out;
}

.h-btn svg g {
  transform-origin: center;
  animation: rotate var(--_ani-speed) linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.h-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  text-transform: none;
  line-height: normal;
  overflow: visible;
  z-index: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: inline-grid;
  grid-template-areas: "pos";
  align-items: center;
  place-content: center;
}

.h-btn > span {
  grid-area: pos;
  font-size: 1.4rem;
  font-weight: bold;
}

.h-btn > span:last-of-type {
  transform: scale(0);
  transition-delay: 0ms;
  border-radius: 50%;
}

.h-btn:focus-visible > span:first-of-type,
.h-btn:hover > span:first-of-type {
  transform: scale(0);
}

.h-btn:focus-visible > span:last-of-type,
.h-btn:hover > span:last-of-type {
  transform: scale(1);
}

#back-span {
  display: flex;
  margin-left: 20px;
}

#btn-change-aday {
  top: 5vh;
  left: 94vw;
}

#btn-speed-u {
  top: 78vh;
  left: 94vw;
}

#btn-speed-d {
  top: 78vh;
  left: 87vw;
}

.scene-btn {
  z-index: 99999;
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20pt;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: radial-gradient(from 50% 60%, white, #f6f6f6);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 0 -6px 10px rgba(255, 255, 255, 0.6);
}
.scene-btn:not(:last-child) {
  margin-right: 20px;
}
.scene-btn.scroll-forward {
  transition: background-color 0.2s ease;
}
.scene-btn:hover {
  cursor: pointer;
  /*
  &.scroll-forward,
  &.scroll-forward .tooltip,
  &.scroll-forward .tooltip:after {
    background-color: rgb(159, 223, 143);
  }
  */
}
.scene-btn:hover.scroll-forward {
  background-color: rgba(208, 233, 202, 0.164);
}
.scene-btn:hover .tooltip-l {
  transform: translate(150%, -50%);
  opacity: 1;
}
.scene-btn:hover .tooltip-r {
  transform: translate(-250%, -50%);
  opacity: 1;
}
.scene-btn:hover .icon {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), white);
  -webkit-background-clip: text;
}
.scene-btn .tooltip {
  font-size: 10pt;
  font-weight: 900;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -250%);
  z-index: -1;
  opacity: 0;
  padding: 0.2em 0.4em;
  transition: 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-radius: 2px;
  writing-mode: horizontal-tb;
}
.scene-btn .tooltip:after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(45deg);
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: -1;
}
.scene-btn .icon {
  height: 1em;
  display: contents;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.2s ease;
}

@media (max-width: 780px) {
  #btn-change-aday {
    top: 5vh;
    left: 83vw;
  }
  #btn-speed-u {
    top: 78vh;
    left: 83vw;
  }
  #btn-speed-d {
    top: 78vh;
    left: 5vw;
  }
}
.wrapper {
  width: 100%;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  position: absolute;
  z-index: 99999;
}

.waves2 {
  position: absolute;
  width: 100%;
  height: 3vh;
  z-index: -1;
  top: 0;
  /*margin-bottom: -7px; //Fix for safari gap
  min-height: 100px;
  max-height: 150px;
  */
}

.waves {
  position: relative;
  width: 100%;
  height: 3vh;
  z-index: -1;
  /*margin-bottom: -7px; //Fix for safari gap
  min-height: 100px;
  max-height: 150px;
  */
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
#wave1 {
  fill: rgba(221, 214, 243, 0.4039215686);
}

#wave2 {
  fill: rgba(221, 214, 243, 0.1568627451);
}

#wave3 {
  fill: rgba(250, 172, 168, 0.5960784314);
}

#wave4 {
  fill: rgba(250, 172, 168, 0.1921568627);
}

.footer {
  width: 100%;
  height: 6vh;
  display: block;
  align-items: flex-end;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  z-index: 99999;
}

.inner-footer {
  position: absolute;
  top: 3vh;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;
  background: linear-gradient(60deg, #faaca8 0%, #ddd6f3 100%);
}

#cr {
  color: rgba(0, 0, 0, 0.937254902);
  font-size: 1.5rem;
  text-align: center;
  position: absolute;
  width: 100%;
  right: 0vw;
}

@media (min-width: 780px) {
  .footer {
    height: 7vh;
  }
}
@media (max-width: 780px) or (max-height: 1000px) {
  #cr {
    font-size: 1rem;
  }
}
#sw-con {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.swiper--wrapper {
  /* wrapperのサイズを調整 */
  width: 100%;
  height: 300px;
}

.swiper-slide-c {
  /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
  color: #ffffff;
  text-align: center;
  display: flex;
  background: #eee;
  align-items: center;
  justify-content: center;
}

.swiper-slide-c:nth-child(1) {
  /*1、4、7、3n+1枚目の背景色 */
  background-color: rgba(234, 241, 238, 0);
}

.swiper-slide-c:nth-child(2) {
  /*2、5、8、3n+2枚目の背景色 */
  background-color: rgba(234, 241, 238, 0);
}

.swiper-slide-c:nth-child(3) {
  /*3、6、9、3n+3枚目の背景色 */
  background-color: rgba(234, 241, 238, 0);
}

#home-intro-scroll-sensor {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
}

#slide-canv {
  top: 0;
}

swiper-container-no-flexbox .swiper-slide-c {
  float: left;
}

#sw-con {
  flex-direction: column;
}

#sw-con {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.small-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.mySwiper3 {
  display: none;
  width: 100%;
  height: 100%;
}

@media (max-width: 780px) or (max-height: 1000px) {
  .ayear {
    display: none;
  }
  .mySwiper3 {
    display: block;
  }
}
.labelDiv {
  position: absolute;
  top: 20%;
  left: 40%;
  z-index: 1;
  font-size: 7rem;
  width: 60vw;
  color: rgba(3, 3, 3, 0.937254902);
}

.labelDiv-c {
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 1;
  font-size: 7rem;
  width: 60vw;
  color: rgba(3, 3, 3, 0.937254902);
}

.labelDiv0 {
  position: absolute;
  top: 20%;
  left: 40%;
  z-index: 1;
  font-size: 7rem;
  width: 60vw;
  border-radius: 10rem;
  background: rgba(232, 198, 214, 0.5803921569);
}

.labelDiv2 {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 1;
  font-size: 7rem;
  border-radius: 1rem;
  background: rgba(232, 198, 214, 0.5803921569);
}

.anim1 {
  color: #dbd56e;
  background: -webkit-linear-gradient(-120deg, #4c4c4c, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  font-size: 7rem;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  animation: type1 1s steps(90) 0.3s 1 normal both, cursor1 1s step-end infinite;
  position: relative;
}

.anim1-light1 {
  color: #dbd56e;
  background: -webkit-linear-gradient(-120deg, #4c4c4c, #cccccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  font-size: 5rem;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  animation: type1 1s steps(90) 0.3s 1 normal both, cursor1 1s step-end infinite;
  position: relative;
}

#anim1-add {
  font-size: 2rem;
}

@keyframes type1 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes cursor1 {
  50% {
    border-color: transparent;
  }
}
.anim2 {
  color: rgb(235, 235, 235);
  font-size: 7rem;
  font-weight: 600;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(100, 100, 100);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6), 0px 2px 15px rgba(10, 10, 10, 0.5), 0px 5px 25px rgba(20, 20, 20, 0.4);
  margin-left: -1.9vw;
  margin-right: -1.9vw;
  position: relative;
  animation: rise 5s linear, textShadow 3s linear alternate infinite 5s;
  cursor: pointer;
}

/* text animation */
@keyframes rise {
  0% {
    color: rgb(15, 15, 15);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(100, 100, 100);
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0), 0px 0px 5px rgba(0, 0, 0, 0), 0px 2px 15px rgba(10, 10, 10, 0), 0px 5px 25px rgba(20, 20, 20, 0);
    transform: scale(0.5);
    opacity: 0;
  }
  30% {
    color: rgb(100, 100, 100);
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1), 0px 0px 5px rgba(0, 0, 0, 0.2), 0px 2px 15px rgba(10, 10, 10, 0.3), 0px 5px 25px rgba(20, 20, 20, 0);
  }
  70% {
    color: rgb(235, 235, 235);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3), 0px 0px 5px rgba(0, 0, 0, 0.6), 0px 2px 15px rgba(10, 10, 10, 0.5), 0px 5px 25px rgba(20, 20, 20, 0.4);
  }
  100% {
    color: rgb(235, 235, 235);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(100, 100, 100);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.4), 0px 0px 1px rgba(25, 0, 255, 0.3), 0px 2px 4px rgba(48, 255, 252, 0.4), 0px 5px 6px rgba(25, 0, 255, 0.2);
    opacity: 1;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5), 0px 0px 1px rgba(25, 0, 255, 0.3), 0px 2px 5px rgba(48, 255, 252, 0.4), 0px 5px 7px rgba(48, 255, 252, 0.2);
  }
  25% {
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.4), -1px -1px 2px rgba(25, 0, 255, 0.4), -2px -2px 6px rgba(242, 54, 220, 0.3), -4px -5px 8px rgba(48, 255, 252, 0.2);
  }
  50% {
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.4), 0px 0px 3px rgba(25, 0, 255, 0.6), 0px 2px 5px rgba(25, 0, 255, 0.5), 0px 5px 8px rgba(25, 0, 255, 0.4);
  }
  100% {
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.5), 1px 0px 1px rgba(242, 54, 220, 0.6), 2px 2px 4px rgba(242, 54, 220, 0.5), 4px 5px 6px rgba(242, 54, 220, 0.4);
  }
}
.anim3 div span {
  display: inline-block;
  transform-style: preserve-3d;
  transform-origin: bottom;
  text-transform: uppercase;
  animation: anim_split var(--duration) linear infinite alternate;
  animation-delay: var(--delay);
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
  font-size: 5rem;
  color: var(--shadow);
  text-shadow: 0px 0px 2px var(--innerShadow), 0px 0px 2px var(--innerShadow), 0px 0px 2px var(--innerShadow), 0px 0px 2px var(--innerShadow);
  --innerShadow:var(--shadow);
  --inneroppoShadow:var(--invertShadow);
}

@keyframes anim_split {
  0% {
    text-shadow: 0px 0px 2px var(--innerShadow), 0px 0px 2px var(--innerShadow), 0px 0px 2px var(--innerShadow), 0px 0px 2px var(--innerShadow);
    scale: 1 0;
  }
  100% {
    text-shadow: 0px 0px 2px var(--inneroppoShadow), 0px 0px 2px var(--inneroppoShadow), 0px 0px 2px var(--inneroppoShadow), 0px 0px 2px var(--inneroppoShadow);
    scale: 1 1;
  }
}
/*https://codepen.io/ananyaneogi/pen/Bgozrz*/
.anim4 {
  font-size: 5rem;
  line-height: calc(20px + 20vh);
  /*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
    color: #fccaff; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}
@keyframes blink {
  20%, 24%, 55% {
    color: #111;
    text-shadow: none;
  }
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    /*     color: #fccaff;
        text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
          0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}
.anim5 {
  color: rgb(27, 24, 24);
  font-size: 7rem;
  font-weight: 600;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(100, 100, 100);
  margin-left: -1.9vw;
  margin-right: -1.9vw;
  position: relative;
  top: -125%;
  left: 30%;
  animation: rise2 5s ease-in-out alternate infinite 5s;
  cursor: pointer;
}

/* text animation */
@keyframes rise2 {
  0% {
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(100, 100, 100);
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0), 0px 0px 5px rgba(0, 0, 0, 0), 0px 2px 15px rgba(10, 10, 10, 0), 0px 5px 25px rgba(20, 20, 20, 0);
    transform: scale(0.5);
    opacity: 0;
  }
  30% {
    color: rgb(100, 100, 100);
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1), 0px 0px 5px rgba(0, 0, 0, 0.2), 0px 2px 15px rgba(10, 10, 10, 0.3), 0px 5px 25px rgba(20, 20, 20, 0);
  }
  70% {
    color: rgb(110, 110, 110);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3), 0px 0px 5px rgba(0, 0, 0, 0.6), 0px 2px 15px rgba(10, 10, 10, 0.5), 0px 5px 25px rgba(20, 20, 20, 0.4);
  }
  100% {
    color: rgb(27, 24, 24);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(100, 100, 100);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.4), 0px 0px 1px rgba(25, 0, 255, 0.3), 0px 2px 4px rgba(48, 255, 252, 0.4), 0px 5px 6px rgba(25, 0, 255, 0.2);
    opacity: 1;
  }
}
@media (max-width: 780px) or (max-height: 1000px) {
  .anim1, .anim1-light1, .anim2, .anim4 {
    font-size: 1.4rem;
    writing-mode: vertical-rl;
  }
  .labelDiv2 {
    font-size: 1.4rem;
    writing-mode: vertical-rl;
  }
  #anim1-add {
    font-size: 1.2rem;
  }
  .anim3 div span {
    font-size: 1.4rem;
  }
  .anim5 {
    font-size: 1.2rem;
    top: -15%;
    left: 10%;
  }
  .text-combine {
    -webkit-text-combine: horizontal;
    -ms-text-combine-horizontal: all;
    text-combine-upright: all;
  }
  @keyframes type1 {
    from {
      width: 0;
    }
    to {
      width: 6rem;
    }
  }
}
.labelDiv3 {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  opacity: 0.9;
  font-size: 7rem;
}

#video1 {
  width: 100%;
  height: 100%;
}

img {
  max-height: 50vh;
}

.lightbox {
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 20%;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 10%;
  padding: 1em;
  background: rgba(0, 0, 0, 0);
}

.lightbox span {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.scene-img {
  position: absolute;
  display: none;
  height: 100vh;
}

.scale-on {
  animation: scale-on-kf 2s ease-in-out;
  opacity: 0.7;
  display: block;
  transform: scale(2);
}

.scale-on2 {
  opacity: 0.7;
  display: block;
  animation: kenburns-bottom-left 5s ease-out both;
}

.scale-on3 {
  opacity: 0.7;
  display: block;
  animation: anim-zoom 5s ease-out both;
}

.scale-0 {
  display: none;
}

.display-0 {
  animation: scale-0-kf 3s linear;
}

@keyframes scale-on-kf {
  0% {
    transform: scale(8);
  }
  100% {
    transform: scale(2);
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2024-11-26 21:8:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation kenburns-bottom-left
 * ----------------------------------------
 */
@keyframes kenburns-bottom-left {
  0% {
    transform: scale(4) translate(0, 0);
    transform-origin: 60% 60%;
  }
  100% {
    transform: scale(3.75) translate(-5px, 5px);
    transform-origin: 35% 60%;
  }
}
@keyframes anim-zoom {
  0% {
    transform: scale(4) translate(0, 50px);
    transform-origin: 50% 50%;
  }
  100% {
    transform: scale(3.75) translate(-5px, 5px);
    transform-origin: 50% 80%;
  }
}
@keyframes scale-0-kf {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(0);
  }
}
#img-touba {
  position: absolute;
  top: 27vh;
  opacity: 0.7;
  transform: rotate(3deg);
  width: 100%;
  height: 100%;
}

.kenburns-right {
  position: absolute;
  height: 100vh;
  animation: kenburns-right 3s ease-out both;
  transform: scale(2);
}

/* ----------------------------------------------
 * Generated by Animista on 2024-11-9 20:8:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation kenburns-right
 * ----------------------------------------
 */
@keyframes kenburns-right {
  0% {
    transform: scale(2) translate(0, 0);
    transform-origin: 84% 50%;
  }
  100% {
    transform: scale(2.25) translateX(-5px);
    transform-origin: right;
  }
}
.map {
  width: 100%;
  height: 90%;
  box-shadow: 0 0 40px -10px black;
  background: #ddd6f3;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0vh auto auto auto;
  overflow: hidden;
  position: relative;
  z-index: 99999999;
}

.border-deform {
  border: 6px solid;
  border-radius: 2.2em 1.8em 3em 2.4em/4.3em 4em 1.6em 2em;
  border-color: #cdc2ed;
}

.img-map {
  margin-top: 1vh;
  background-color: black;
}

#map {
  display: inline-block;
  overflow: hidden;
  width: 60%;
  background-color: rgba(240, 240, 240, 0);
}

.map-c {
  float: right;
  display: grid;
  /*
  grid-template-areas:
  "img"
  "adr";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  */
  overflow: hidden;
  width: 40%;
  height: 100%;
  padding: 25px;
  background-color: #faaca8;
}

.img-map2 {
  grid-area: img;
}

.map-c2 {
  padding: 15px;
  box-shadow: 0 0 40px -10px black;
  background-color: #ddd6f3;
}

h3.border-deform {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  margin-inline: auto;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.937254902);
  font-size: 3rem;
  background-color: #fbbab6;
  border-color: #fbc3c0;
  top: 2vh;
  position: sticky;
}

.det {
  font-size: x-large;
  color: rgba(0, 0, 0, 0.937254902);
}

i {
  float: left;
  font-size: x-large !important;
  margin: 0 8px 0 0;
}

#map-button {
  margin: 15px 4px;
  padding: 13px 9px;
  display: inline-block;
  cursor: pointer;
  background: none;
  color: rgba(0, 0, 0, 0.937254902);
  border: 2px solid rgba(0, 0, 0, 0.937254902);
  transition: all 0.3s;
  border-radius: 8px;
  outline: 0;
}

#map-button:hover {
  border-color: rgba(0, 0, 0, 0.937254902);
  color: rgba(13, 13, 13, 0.937254902);
}

#map-button:after {
  content: "Directions";
  font-family: "Montserrat", sans-serif;
  display: block;
  font-size: 11px;
  margin-top: 8px;
}

.fa-envelope:after {
  content: "Email";
  margin: 8px 13px 0;
}

@media (max-width: 780px) or (max-height: 1000px) {
  .img-map2 {
    display: none;
  }
  .map {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: "margin" "title" "map" "ad";
    grid-template-columns: 100vw;
    grid-template-rows: 2vh 8vh 50vh 1fr;
    margin: 0 auto;
    overflow: hidden;
  }
  .map > h3 {
    grid-area: title;
    margin: 1vh auto;
  }
  #map {
    width: 100%;
    height: 100%;
    grid-area: map;
  }
  .map-c {
    grid-area: ad;
    width: 100%;
    padding: 0;
    float: none;
  }
  .map-c2 {
    height: 100%;
  }
  .border-deform {
    border-radius: 0;
  }
  h3.border-deform {
    padding-left: 1.3vw;
    padding-right: 1.3vw;
    margin-inline: auto;
    font-size: 1.3rem;
  }
  .img-map {
    max-height: 50vh;
    background-color: rgba(0, 0, 0, 0.644);
  }
  .det {
    font-size: small;
  }
}
.newspanel {
  width: 100%;
  height: 90%;
  box-shadow: 0 0 40px -10px black;
  background: #ddd6f3;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0vh auto auto auto;
  overflow: hidden;
  position: relative;
  z-index: 99999999;
  z-index: 99999999;
}

.newspanel2 {
  width: 100%;
  height: 90%;
  box-shadow: 0 0 40px -10px black;
  background: #ddd6f3;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0vh auto auto auto;
  overflow: hidden;
  position: relative;
  z-index: 99999999;
  width: 90%;
  height: 90%;
  margin: 3% 5% 5% 5%;
  background-color: rgb(226, 226, 226);
  z-index: 99999999;
}

#newspanel {
  display: inline-block;
  overflow: hidden;
  width: 85%;
  background-color: rgb(226, 226, 226);
}

.news-list {
  list-style: none outside;
  color: rgba(0, 0, 0, 0.82);
  margin: 0;
  margin-top: 15%;
  padding: 0;
}

.news-list .item .news-elem {
  margin: 0% 6% 0% 0%;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #CCC;
  padding: 20px 20px;
  background-color: rgb(226, 226, 226);
}

.news-list .item:first-child .news-elem {
  border-top: 1px solid #CCC;
}

.news-list .item .date {
  margin: 0;
  min-width: 140px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.82);
  padding: 0 20px 0 0;
}

.news-list .item .category {
  margin: 0;
  min-width: 140px;
  padding: 0 20px 0 0;
}

.news-list .item .category span {
  background: rgb(226, 226, 226);
  color: rgb(58, 49, 1);
  text-align: center;
  display: inline-block;
  padding: 5px 20px;
  font-size: 12px;
  line-height: 1;
}

.news-list .item .title {
  margin: 0;
  width: 100%;
}

.news-list .item a:hover .title {
  color: #00F;
}

@media screen and ((max-width: 780px) or (max-height: 1000px)) {
  .news-list .item .news-elem{
    flex-wrap: wrap;
  }
  .news-list .item .date {
    min-width: 100px;
  }
  .news-list .item .title {
    margin-top: 10px;
  }
  .newspanel {
    height: 100%;
    width: 100%;
    margin: 3vh auto;
    overflow: hidden;
  }
  .newspanel2 {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
}
a {
  text-decoration: none;
}

.chat {
  width: 100%;
  height: 90%;
  box-shadow: 0 0 40px -10px black;
  background: #ddd6f3;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0vh auto auto auto;
  overflow: hidden;
  position: relative;
  z-index: 99999999;
  display: flex;
  flex-direction: column;
}

.chat-title {
  flex: 0 1 10%;
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.937254902);
  text-transform: uppercase;
  text-align: left;
  padding: 10px 10px 10px 50px;
}
.chat-title h3,
.chat-title h2 {
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0 0 0 3vw;
  padding: 0;
}
.chat-title h2 {
  color: rgba(0, 0, 0, 0.937254902);
  font-size: 1.3rem;
  letter-spacing: 1px;
}
.chat-title .avatar {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 9px;
  border-radius: 2.5em;
  width: 3.5em;
  height: 3.5em;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, 0.24);
}
.chat-title .avatar img {
  width: 100%;
  height: auto;
}

.messages {
  flex: 1 1 auto;
  color: rgba(0, 0, 0, 0.937254902);
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.messages .messages-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 101%;
  width: 100%;
}
.messages .message {
  clear: both;
  float: left;
  padding: 6px 2.5em 7px;
  border-radius: 0vw 20vw 20vw 0;
  background: linear-gradient(rgba(253, 218, 216, 0), rgba(251, 195, 192, 0.368627451)) no-repeat 2vw 0vw;
  margin: 8px 0;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-left: 35px;
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.messages .message .timestamp {
  position: absolute;
  font-size: 0.7rem;
  color: #9a1009;
  padding-top: inherit;
}
.messages .message::before {
  content: "";
  position: absolute;
  bottom: -6px;
  border-top: 6px solid rgba(251, 195, 192, 0.368627451);
  margin: 0px 2vw;
  left: 0;
  border-right: 7px solid transparent;
}
.messages .message .avatar {
  position: absolute;
  z-index: 1;
  bottom: -15px;
  left: -35px;
  border-radius: 2.5em;
  width: 2.5em;
  height: 2.5em;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, 0.24);
}
.messages .message .avatar img {
  width: 100%;
  height: auto;
}
.messages .message.message-personal {
  float: right;
  color: rgba(0, 0, 0, 0.937254902);
  text-align: right;
  background: linear-gradient(97deg, white, #fbc3c0);
  border-radius: 10px 10px 0 10px;
}
.messages .message.message-personal::before {
  left: auto;
  right: 0;
  border-right: none;
  border-left: 5px solid transparent;
  border-top: 4px solid #fbc3c0;
  bottom: -4px;
}
.messages .message:last-child {
  margin-bottom: 30px;
}
.messages .message.new {
  transform: scale(0);
  transform-origin: 0 0;
  animation: bounce 500ms linear both;
  color: rgba(0, 0, 0, 0.937254902);
}
.messages .message.loading span {
  display: block;
  font-size: 0;
  width: 20px;
  height: 10px;
  position: relative;
}

.ball1 {
  width: 5px;
  height: 5px;
  display: inline-block;
  background: #ca150c;
  border-radius: 50%;
  animation: bounceball 1.3s linear infinite;
  animation-delay: 0.6s;
}

.ball2 {
  width: 5px;
  height: 5px;
  display: inline-block;
  background: #ca150c;
  border-radius: 50%;
  animation: bounceball 1.3s linear infinite;
  margin-left: 5%;
  animation-delay: 0.5s;
}

.ball3 {
  width: 5px;
  height: 5px;
  display: inline-block;
  background: #ca150c;
  border-radius: 50%;
  animation: bounceball 1.3s linear infinite;
  margin-left: 8%;
  animation-delay: 0.8s;
}

.message-box {
  width: 100%;
  height: 8%;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  position: relative;
}
.message-box .message-input {
  background: none;
  border: none;
  outline: none !important;
  resize: none;
  color: rgba(0, 0, 0, 0.937254902);
  font-size: 1.3rem;
  margin: 0;
  padding-right: 20px;
  width: 65%;
  line-height: 1;
}
.message-box .message-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.937254902);
}
.message-box .message-input::placeholder {
  color: rgba(0, 0, 0, 0.937254902);
}
.message-box textarea:focus:-webkit-placeholder {
  color: transparent;
}
.message-box .message-submit {
  right: 5%;
  line-height: 1;
  position: absolute;
  z-index: 1;
  top: 9px;
  color: rgba(0, 0, 0, 0.937254902);
  border: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 6px 10px;
  border-radius: 10px;
  outline: none !important;
  transition: background 0.2s ease;
  background: #9c87dc;
}
.message-box .message-submit:hover {
  background: #cdc2ed;
}
.message-box .message-reset {
  left: 5%;
  line-height: 1;
  position: absolute;
  z-index: 1;
  top: 9px;
  color: rgba(0, 0, 0, 0.937254902);
  border: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 6px 10px;
  border-radius: 10px;
  outline: none !important;
  transition: background 0.2s ease;
  background: #9c87dc;
}
.message-box .message-reset:hover {
  background: #cdc2ed;
}

.mCSB_scrollTools {
  margin: 1px -3px 1px 0;
  opacity: 0;
}

.mCSB_inside > .mCSB_container {
  margin-right: 0px;
  padding: 0 10px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

@keyframes bounce {
  0% {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@keyframes bounceball {
  30% {
    transform: translateY(-6px);
  }
  60% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(0px);
    opacity: 0.5;
  }
}
section {
  display: flex;
  flex-flow: row wrap;
}

section > div {
  flex: 1;
  padding: 0.5rem;
}

input[type=radio] {
  display: none;
}
input[type=radio]:not(:disabled) ~ label {
  cursor: pointer;
}
input[type=radio]:disabled ~ label {
  color: hsl(150, 5%, 75%);
  border-color: hsl(150, 5%, 75%);
  box-shadow: none;
  cursor: not-allowed;
}

label {
  height: 100%;
  display: block;
  background: #fddad8;
  border: 2px solid #f77e78;
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
  position: relative;
}

input[type=radio]:checked + label {
  background: #f66760;
  color: hsl(215, 0%, 100%);
  box-shadow: 0px 0px 20px #f45048;
}
input[type=radio]:checked + label::after {
  color: hsl(215, 5%, 25%);
  font-family: FontAwesome;
  border: 2px solid #fddad8;
  content: "\f00c";
  font-size: 1.3rem;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background: #cdc2ed;
  box-shadow: 0px 2px 5px -2px hsla(0, 0%, 0%, 0.25);
}

input[type=radio]#control_5:checked + label {
  background: #f45048;
  border-color: #f22217;
}

p {
  font-weight: 900;
}

/*
@media only screen and (max-width: 700px) {
  section {
    flex-direction: column;
  }
}
*/
@media (max-width: 780px) or (max-height: 1000px) {
  .chat {
    width: 100%;
    height: 100%;
    margin: 1vh auto auto auto;
  }
  .chat-title h2 {
    font-size: 0.5rem;
  }
  .chat-title h3 {
    font-size: 0.7rem;
    font-weight: bold;
  }
  h2 {
    font-size: 0.7rem;
    font-weight: bold;
  }
  .messages .message {
    font-size: 0.7rem;
    font-weight: bold;
  }
  label {
    padding: 0.5rem;
    margin-bottom: 0rem;
  }
  .chat-title .avatar {
    width: 2.5em;
    height: 2.5em;
  }
  .messages .message .avatar {
    width: 2em;
    height: 2em;
  }
  /*
  .message-box {
    & .message-input {
      font-size: $bot-font-size3;
    }
    & .message-submit {
      font-size: $bot-font-size3;
    }
    & .message-reset {
      font-size: $bot-font-size3;
    }
  }
  .message {
    font-size: $bot-font-size3;
    .timestamp {
      font-size: $bot-font-size4;
    }
  }

  input[type="radio"]:checked + label {
    font-size: $bot-font-size3;
  }
  */
}
.ayear {
  width: 100vw;
  height: 100vh;
}

.ayear-small {
  width: 100vw;
  height: 100vh;
}

.ayear-bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: "Poppins", serif;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
}

.ayear-title {
  position: relative;
  font-weight: 800;
  margin: 1rem 0 0;
}

.ayear-timeline1 {
  margin-top: 6vh;
  margin-right: auto;
  margin-left: auto;
  width: 90vw;
  height: 80vh;
  display: grid;
  grid-template-areas: "m4 m5" "m6 m7";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.ayear-timeline1 li.ayear-timeframe {
  display: block;
  width: 80%;
  height: 80%;
  margin: 0.25rem;
  flex-flow: column;
  padding: 1rem;
  font-weight: 300;
  font-size: 0.8rem;
  box-sizing: border-box;
}
.ayear-timeline1 li.ayear-timeframe:not(.flip) {
  border-radius: 0.2rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.ayear-timeline1 li.ayear-timeframe.flip {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0);
}
.ayear-timeline1 li.ayear-timeframe.ayear-date {
  font-size: 2rem;
  margin: 0 0 1rem 0;
  font-weight: 500;
}

.ayear-timeline2 {
  margin-top: 6vh;
  margin-right: auto;
  margin-left: auto;
  width: 90vw;
  height: 80vh;
  display: grid;
  grid-template-areas: "m9 m10" "n2 n2" "m12 m12";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.ayear-timeline2 li.ayear-timeframe {
  display: block;
  width: 80%;
  height: 80%;
  margin: 0.25rem;
  flex-flow: column;
  padding: 1rem;
  font-weight: 300;
  font-size: 0.8rem;
  box-sizing: border-box;
}
.ayear-timeline2 li.ayear-timeframe:not(.flip) {
  border-radius: 0.2rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.ayear-timeline2 li.ayear-timeframe.flip {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0);
}
.ayear-timeline2 li.ayear-timeframe.ayear-date {
  font-size: 2rem;
  margin: 0 0 1rem 0;
  font-weight: 500;
}

.ayear-timeline3 {
  margin-top: 6vh;
  margin-right: auto;
  margin-left: auto;
  width: 90vw;
  height: 80vh;
  display: grid;
  grid-template-areas: "m1" "n1" "m3";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.ayear-timeline3 li.ayear-timeframe {
  display: block;
  width: 80%;
  height: 80%;
  margin: 0.25rem;
  flex-flow: column;
  padding: 1rem;
  font-weight: 300;
  font-size: 0.8rem;
  box-sizing: border-box;
}
.ayear-timeline3 li.ayear-timeframe:not(.flip) {
  border-radius: 0.2rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.ayear-timeline3 li.ayear-timeframe.flip {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0);
}
.ayear-timeline3 li.ayear-timeframe.ayear-date {
  font-size: 2rem;
  margin: 0 0 1rem 0;
  font-weight: 500;
}

.ayear-timeline {
  margin-top: 6vh;
  margin-right: auto;
  margin-left: auto;
  width: 90vw;
  height: 80vh;
  display: grid;
  grid-template-areas: "m4 m5 m6 m7 n2" "n1 n1 m9 m10 n2" "n1 n1 m12 m1 m3";
  grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.ayear-timeline li.ayear-timeframe {
  display: block;
  width: 80%;
  height: 80%;
  margin: 0.25rem;
  flex-flow: column;
  padding: 1rem;
  font-weight: 300;
  font-size: 0.8rem;
  box-sizing: border-box;
}
.ayear-timeline li.ayear-timeframe:not(.flip) {
  border-radius: 0.2rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.ayear-timeline li.ayear-timeframe.flip {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0);
}
.ayear-timeline li.ayear-timeframe.ayear-date {
  font-size: 2rem;
  margin: 0 0 1rem 0;
  font-weight: 500;
}

.inner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  opacity: 0.7;
}

.inner-img-flip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  opacity: 0.7;
}

.flip {
  background-color: transparent;
  perspective: 1000px;
}

.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.flip:hover > .flip-inner {
  animation: flip-scale-up-hor 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.flip-front, .flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
}

.flip-front {
  background-color: black;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

.flip-back {
  background-color: rgb(219, 10, 10);
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  transform: rotateY(180deg);
}

.flip-scale-up-hor {
  animation: flip-scale-up-hor 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-11-9 2:5:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation flip-scale-up-hor
 * ----------------------------------------
 */
@keyframes flip-scale-up-hor {
  0% {
    transform: scale(1) rotateX(0);
  }
  50% {
    transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    transform: scale(1) rotateX(-180deg);
  }
}
.card {
  display: flex;
  width: 80%;
  height: 80%;
  margin: 0.25rem;
  flex-flow: column;
  border-radius: 48px;
  border: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 14px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;
}

.card:hover {
  top: 48%;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.11), 0 10px 40px rgba(0, 0, 0, 0.1);
}

.container-fluid {
  --s: 17px; /* control the size*/
  --c1: #b2b6de;
  --c2: #ecbfca;
  --c:#0000,var(--c1) .5deg 119.5deg,#0000 120deg;
  --g1:conic-gradient(from 60deg at 56.25% calc(425%/6),var(--c));
  --g2:conic-gradient(from 180deg at 43.75% calc(425%/6),var(--c));
  --g3:conic-gradient(from -60deg at 50% calc(175%/12),var(--c));
  background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2), var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0, var(--g3) 0 calc(1.73 * var(--s)) var(--c2);
  background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.937254902);
  font-size: xx-large;
}

.card-body .card-title {
  font-weight: 900;
  font-size: 31px;
  letter-spacing: 0.5px;
  margin-bottom: 2px;
}

.card-body .category {
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: large;
  color: rgba(0, 0, 0, 0.937254902);
}

.card-body .stroke-divider {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 1.2px;
  width: 75%;
  background: #ABB0B8;
}

@media (max-width: 780px) or (max-height: 1000px) {
  .ayear-timeline {
    grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
#msg-scroldown {
  display: table;
  width: 100%;
  height: 100%;
}

#msg-scroldown-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

#scroll-down {
  display: block;
  position: relative;
  padding-top: 79px;
  text-align: center;
}

.arrow-down {
  display: block;
  margin: 0 auto;
  width: 10px;
  height: 38px;
}

.arrow-down:after {
  content: "";
  display: block;
  margin: 0;
  padding: 0;
  width: 8px;
  height: 8px;
  border-top: 2px solid #f1b9bf;
  border-right: 2px solid #f9aeab;
  behavior: url(-ms-transform.htc);
  transform: rotate(135deg);
}

#scroll-title {
  display: block;
  text-transform: uppercase;
  color: #f9aeab;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

#scroll-down::before {
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  /* IE 10+, Fx 29+ */
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 90px;
  background: #f9aeab;
  content: " ";
}
@keyframes elasticus {
  0% {
    transform-origin: 0% 0%;
    transform: scale(1, 0);
  }
  50% {
    transform-origin: 0% 0%;
    transform: scale(1, 1);
  }
  50.1% {
    transform-origin: 0% 100%;
    transform: scale(1, 1);
  }
  100% {
    transform-origin: 0% 100%;
    transform: scale(1, 0);
  }
}
#paschka {
  display: block;
  color: white;
  font-family: helvetica neue, helvetica, arial;
  font-size: 32px;
  text-decoration: none;
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 0px;
  transition: all 0.1s ease;
  background: #000;
  height: 40px;
  line-height: 30px;
  vertical-align: middle;
  width: 40px;
  text-align: center;
  border-radius: 5%;
  bottom: 20px;
  right: 20px;
}
#paschka:hover {
  background: #232323;
  transition: all 0.1s ease;
  color: #f0f0f0;
}

.cat {
  position: sticky;
  top: 31vh;
  width: 100%;
  max-width: 20em;
  overflow: hidden;
  left: 29vh;
  background-color: rgb(230, 220, 219);
}
.cat::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.cat:hover > * {
  animation-play-state: paused;
}
.cat:active > * {
  animation-play-state: running;
}

.cat__body, .cat__tail, .cat__head {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: rotating 2.79s cubic-bezier(0.65, 0.54, 0.12, 0.93) infinite;
}
.cat__body::before, .cat__tail::before, .cat__head::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  background-size: 200%;
  background-repeat: no-repeat;
  background-image: url("https://images.weserv.nl/?url=i.imgur.com/M1raXX3.png&il");
}

.cat__head::before {
  top: 0;
  right: 0;
  background-position: 100% 0%;
  transform-origin: 0% 100%;
  transform: rotate(90deg);
}

.cat__tail {
  animation-delay: 0.2s;
}
.cat__tail::before {
  left: 0;
  bottom: 0;
  background-position: 0% 100%;
  transform-origin: 100% 0%;
  transform: rotate(-30deg);
}

.cat__body {
  animation-delay: 0.1s;
}
.cat__body:nth-of-type(2) {
  animation-delay: 0.2s;
}
.cat__body::before {
  right: 0;
  bottom: 0;
  background-position: 100% 100%;
  transform-origin: 0% 0%;
}

@keyframes rotating {
  from {
    transform: rotate(720deg);
  }
  to {
    transform: none;
  }
}
.loading-box {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 220, 219);
  z-index: 999999;
}
